* {
  margin: 0;
}

.navbar {
  width: 100vw;
  height: 8vh;
  display: flex;
  align-items: center;
}

.container {
  width: 100vw;
  height: 92vh;
  display: grid;
}

.array-box {
  display: flex;
  align-items: flex-end;
  margin: auto;
  width: 95%;
  height: 95%;
}

.index {
  width: 1.3%;
  height: 70%;
  background-color: black;
}

.margin {
  margin-right: 5px;
}

.yellow{
  background-color: yellow;
}
